<html><head>
<style type=text/css>

	html, body, div, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td, tr { margin: 0em; padding: 0.1em; }

	h1
	{ 
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: 1.1em;
	}

	p
	{
		text-indent: 1.2em;
	}

	p.para
	{
	    display: block;
	    text-indent: 1.2em;
	    padding: 0.1em;
	    margin: 0
	}

	p.title
	{
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
		margin-top: 3em;
		margin-bottom: 3em;
	}

	p.headline
	{
		text-align: center;
		text-indent: 0.2em;
		font-weight: bold;
		margin-top: 0.5em;
	}

	p.chapter
	{
		text-indent: 0.2em;
		page-break-before: always;
		font-weight: bold;
		font-size: 1.5em;
		text-align: center;
		margin-top: 6em;
		margin-bottom: 6em;
	}

	p.centered
	{
		text-indent: 0.2em;
		text-align: center;
	}
	
	span.centered
	{
		text-indent: 0.2em;
		text-align: center;
	} 

	span.underline
	{
		text-decoration: underline;
	} 

</style>

 <nav>
    <a href="/">Home</a>
    <a href="/guide">Guide</a>
    <a href="/map">Map</a>
    <a href="/story">Story</a>
</nav>

</head><body>
<font name='arial' size=+1>

<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p class='chapter'><b>THE SEARCH, THE FIND, THE CONSEQUENCES</b></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p align='justify'><i>&nbsp;</i></p>
<p class='Para'>On the beautiful continent of Nyxandra, in a small village near the Spellwood Forest, lived  a young boy named Wish Alewyn. He was a Veylin, a human-like creature with gracious wings which helped him soar through the sky. Unfortunately  Veylin children weren't allowed to fly outside of training grounds until they were 14 years old, so Wish still had to wait a couple of weeks until he could traverse the world with his wings. </p>
<p class='Para'>While on a walk, he heard a loud talking and cheering coming from a crowd of people. The boy decided to ignore them and continue his walk but then he heard the voice of the village chief and, out of curiosity, started listening to what he had to say:</p>
<p class='Para'>"there is an ancient treasure that i've hidden in the forest. anyone who finds it first can keep all the jewels and gold they can find" he said with no emotion in his voice. "the search for the treasure starts&hellip; NOW!"</p>
<p class='Para'>"Treasure.." whispered Wish to himself. "What if..?"</p>
<p class='Para'>But his train of thoughts was interrupted by the crowd's screams and cheers as they started running and flying towards the forest.</p>
<p class='Para'>Seeing how excited the crowd was he decided to search too for the treasure even though he didn't care about it too much.</p>
<p class='Para'>After some time wandering through the forest, he started to remember a place where his father used to take him, an ancient part of the forest where, as his father used to say, 'even time stopped to admire the beautiful nature'. Wish remembered a cave with the entrance covered in vines and leaves, a cave that could take him  to that place. </p>
<p class='Para'>As he started to walk towards the cave he realized someone was following him and every time he looked over his shoulder the mysterious person disappeared. Wish was followed until the entrance of the cave where the creature that followed him so closely seemingly stopped and vanished like it had never even been there.</p>

<center></center>

<p class='Para'>The cave was the same as he remembered, paintings on the walls, small puddles of water on the ground and the sharp stalagmites and stalactites formed over thousands of years, creating weird an interesting shapes. On the other side of the cave Wish found himself in a secret garden filled with different plants and insects that brought life to that little corner of the world. In the middle of this garden wish found the tree where he used to play with his father.  </p>
<p class='Para'>"This tree was planted by my father, that means your grandfather, Wish. And someday you will see it as i do: the most beautiful treasure in the world" his father used to say.</p>
<p class='Para'>"&gt;&gt;The most beautiful treasure in the world&lt;&lt; right? As he used to say"</p>
<p class='Para'>Wish walked around the garden for a bit until he found a small shovel which he used to dig beside the tree. After some digging the boy hit a hard surface. Cleaning it a but with his hand he discovered a small chest made of wood. The strange part was that the type of wood which was used to make the chest couldn't be fount on that continent. Inside the chest was a small black egg no bigger than his fist with green markings all over it.</p>
<p class='Para'>As he was studying the egg Wish realized that it was almost dusk, meaning he needed to head back to the village. </p>
<p class='Para'>On the way back  the boy started hearing footsteps slowly coming behind him, exactly like before, disappearing each time he turned his head. Concerned about the egg, Wish decided to take some leaves and vines to create a small pouch in which he could keep the egg safe from being stolen.</p>
<p class='Para'>When he arrived back at the village, a group of loud people caught Wish's attention.</p>

<center></center>

<p class='Para'>As he got closer he noticed the people screaming angrily at the village chief. Wish started asking around what had happened that got everyone so mad, but nobody was paying attention to a small curious child that was bored and didn't know how to get the attention of adults. </p>
<p class='Para'>Seeing he was ignored, Wish decides to sneak through the crowd to get closer to the  middle. As he managed to slip between the people gathered there, he finally saw the cause of the riot.</p>
<p class='Para'>The village chief was standing right there, frozen in fear of the people shouting at him.</p>
<p class='Para'>&#8220;Liar!&#8221; yelled an angry villager.</p>
<p class='Para'>"Fraud!" shouted another.</p>
<p class='Para'>"We should cut his wings" growled someone from the back.</p>
<p class='Para'>"No! We should banish him" yelled a woman beside wish.</p>
<p class='Para'>In all the noise nobody realized that the chief stopped trembling and the stood there motionless, then &hellip; BAM! The village chief fell to the ground. Doctors rushed in as the crowd got bigger and bigger.</p>
<p class='Para'>"Wish!" called Layla.</p>
<p class='Para'>"Sis!" said the boy back with a terrified look on his face.</p>
<p class='Para'>"Everything will be alright! He will be fine." replied Layla trying to calm her brother down. " Go home and tell mom i will come home a bit late today, ok?</p>
<p class='Para'>Wish nodded and started heading in the direction of his home. </p>
<p class='Para'>//Layla was a medical student that worked at the hospital near the plaza. She could control water so her life there wasn't as hard. The girl worked day and night to be the best in her class and the top student in medical school and, even tho she is 2 years older than her brother, tries to make time for him when he needs it most.\\</p>
<p class='Para'>When wish got home he couldn't stop trembling, but he was assured that the chief was in good hands. As the time passed he managed to calm himself down and tell his mother what happened.</p>

</font>
</body></html>
